body
    position relative
    min-height 100vh
    padding 0
    margin 0
    box-sizing border-box
    background-color darken(white, 6%)
    overflow-x hidden 
    font-family 'Roboto', sans-serif

a
	text-decoration unset

div
	box-sizing border-box