.wrapper
	max-width 1330px
	margin auto
	position relative

.red
	color red

h1 
	text-align center

.disable
	opacity 0.6
	pointer-events none

.modal_template
	display flex
	flex-flow column
	align-items center

	.main_button,
	.modal_submit
		margin 0 auto
		display inline-block
		font-size 18px
		padding 20px
		border-radius 50px
		background-color #f38628
		transition all 0.4s ease
		text-transform uppercase
		color white
		&:hover
			background-color #333f48

	.modal_window
		padding 20px
		box-shadow 0 0 7px -4px
		background-color white
		margin-top 20px
		.modal_body
			display flex
			flex-flow column
			font-size 20px
			transition all 0.4s ease
			justify-content center
			.modal_input
				margin-top 20px
				border-radius 50px
				border 1px solid #eee
				padding 12px 14px
				text-align center
				color darken(pink, 10%)
				font-size 20px
			.modal_submit
				margin-top 20px	
				padding 10px 20px

	.modal_result
		padding 20px
		box-shadow 0 0 7px -4px
		background-color white
		margin-top 20px
		font-size 24px

	.debug
		position fixed
		bottom 0
		padding 20px
		width 100%
		display flex
		justify-content center
		background-color #333f48
		color white	