<template>
	<div class="modal_template">
		<a href="javascript:void(0)" class="main_button" @click='openModal'>Клацни &#128527;</a>
		<transition name='modal_anim'>
			<div class="modal_window" v-show='modal'>
				<div class="modal_title"></div>
				<div class="modal_body">
					<span>Введи число Фибоначчи</span>
					<input type="text" class="modal_input" v-model='input'>
					<a href="javascript:void(0)" class="modal_submit" v-bind:class="{disable: input == ''}" @click="calculate">Сколько &#129300;</a>
				</div>
			</div>
		</transition>
		<transition name='res_anim'>
			<div class="modal_result" v-if='res || error'>
				<p v-if='error' v-html='error'>{{ error }}</p>
				<p v-if='res'>Свершилось чудо и вернулось целых <span class='red'>{{ res }}</span></p>
			</div>
		</transition>
		<div class="debug">{{numbers}}</div>
	</div>
</template>

<style scoped>
	.modal_window,
	.modal_result {
		overflow: hidden;
		transition: all 1s ease;
		position: relative
	}
	.modal_anim-leave {
		right: 0;
	}
	.modal_anim-leave-to {
		right: -100%;
	}
	.modal_anim-enter {
		left: -100%;
	}
	.modal_anim-enter-to {
		left: 0;
	}
	.res_anim-enter,
	.res_anim-leave-to {
		opacity: 0;
		top: 50px;
	}
	.res_anim-enter-to,
	.res_anim-leave {
		opacity: 1;
		top: 0;
	}
</style>
	
<script>
import axios from 'axios'

export default {
    data () {
        return {
            numbers: {},
			modal: false,
			input: '',
			error: '',
			res: '',

        }
	},
	created () {
		axios.get('./assets/files/numbers.json')
		.then(responce => {
			this.numbers = responce.data
		}).catch(e => {
			this.error = 'С запросом беда ((('
		});
	},
    updated () {},
    methods: {
        openModal () {
            if(!this.modal)
                this.modal = true
            else {
				this.modal = false
				this.res = ''
				this.error = ''
			}
		},
		calculate () {
			if(!isNaN(this.input) && this.input !== '1') {
				this.error = ''
				if(this.numbers[this.input]) {
					this.res = this.numbers[this.input]
				}
				else {
					this.res = Math.round( ( Math.pow((1 + Math.sqrt(5)) /2, this.input) - Math.pow((1 - Math.sqrt(5)) /2, this.input) )/Math.sqrt(5) )
					this.numbers[this.input] = this.res
					axios.post('./assets/ajax/numbers.php', this.numbers).then(responce => {
						console.log('HAPPY')
					});
				}
			}
			else if (!isNaN(this.input)) {
				this.error = `Ты серьезно? ОДИН?!! &#128545;`
			}
			else {
				this.res = ''
				this.error = 'Написано русским языком, введи <span class="red">ЧИСЛО</span>'
			}
		}

    },
}
</script>