block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./assets/css/app.css")
		script(src="./assets/js/app.js")
		script(src="./assets/js/vendors.js")
		title #{title}

		block head
		
	body(class=page_class)
		.wrapper
			#app
				include ../templates/header
				block content
				include ../templates/footer

	block scripts
